*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* CHÃO */

.chao{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:21vh;
    background-image:url("imagens/image.png");
    background-repeat:repeat-x;
    background-size:auto 100%;
    image-rendering:pixelated;
    animation: chao-animation 20s linear infinite;
}

@keyframes chao-animation{
    from{
        background-position:0 0;
    }
    to{
        background-position:-1000px 0;
    }
}

.montanha{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:80.4vh;
    background-image:url(imagens/Montanha.png);
    background-repeat:repeat-x;
    background-size:auto 100%;
    image-rendering:pixelated;
    animation: chao-animation 20s linear infinite;
}


.game-board{
    width:100%;
    height:500px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    background:linear-gradient(#87CEEB,#E0F6FF);
}

/* CANO */

.pipe{
    position:absolute;
    bottom:0;
    width:80px;
    animation: pipe-animation 1.5s infinite linear;
}

@keyframes pipe-animation{
    from{
        right:-80px;
    }
    to{
        right:100%;
    }
}

/* MARIO */

.mario{
    width:150px;
    position:absolute;
    bottom:0;
}

/* PULO */

.jump{
    animation: jump 500ms ease-out;
}

@keyframes jump{
    0%{bottom:0;}
    40%{bottom:180px;}
    50%{bottom:180px;}
    60%{bottom:180px;}
    100%{bottom:0;}
}

/* NUVENS */

.clouds{
    position:absolute;
    width:550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation{
    from{right:-550px;}
    to{right:100%;}
}